/* fonts */

@font-face {
	font-family: 'roboto';
	font-weight: 400;
	src: url('../fonts/roboto-400.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto';
	font-weight: 500;
	src: url('../fonts/roboto-500.woff2') format('woff2');
}

/* resets */

* {
	box-sizing: border-box;
}

ul, ol {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	margin: 0;
}

p {
	margin: 0;
}

svg {
	display: block;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

input, textarea, button, select {
	padding: 0;
	border: none;
	background: none;
	font: inherit;
}

img {
	max-width: 100%;
}

/* body */

body {
	min-width: 320px;
	font-family: 'roboto', system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* your styles here */

main {
	margin: 2rem 0;
}

strong {
	font-weight: 500;
}
